<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<!--bootstrap -V 5.1.3x-->
	<title>New Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="css/lib/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--jquery -V 3.6.0-->
</head>

<body style="background-color: #fffffc;">
	<nav class="navbar navbar-expand-lg fw-bold navbar-dark shadow-lg fixed-top " style="background-color: #023e8a;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<img src="img/logo/logo.png" width="50" height="50" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link " href="index.html">الرئيسية</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="about.html">عن المعهد</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">كلمة العميد</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">هيئة التدريس</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							المزيد
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item" href="#">شئون الطلاب</a></li>
							<li><a class="dropdown-item" href="#">شئون الخرجين</a></li>
							<li><a class="dropdown-item" href="#">رعاية الطلاب</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>



	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>

</html>

<!--TODO LIST-->
<!--
	Pages:
		# main 
		# about 
		# instructors 
		# students club
		# seniors
-->