{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 100px;">
    <div class="row mt-5">
        <div class="col-md-6 animate__animated  animate__backInRight order-last order-lg-first">
            <h3 class="text-wrap">
                أبنائي وبناتي طلاب معهد السويس لنظم المعلومات الإدارية.
                تحية طيبة مباركة لكم جميعا.
            </h3>
            <p class="mt-3">
                نتمني لكم عاما دراسيا جيدا يملؤه التفاؤل والإحترام المتبادل بينكم وبين جميع العاملين بالمعهد من
                موظفين وعاملين و أعضاء هيئة التدريس وإدارة.
            </p>
            <p class="mt-3">والمنظومة لا تكتمل إلا بكم ونتمني أن يصبح معهد السويس من المعاهد المتميزة في كل
                المجالات المتاحة للطلاب مع الإهتمام الكامل بتطوير العملية التعليمية وزيادة الأنشطة الطلابية وحل جميع
                المشكلات للطلاب بما يحفظ لهم</p>
            <p class="mt-3">الدراسة في جو أكاديمي جيد ومتابعة جميع الخدمات والأنشطة التي تخدم الطلاب بالمعهد وتطوير
                القاعات والمعامل والمدرجات وتزويد المكتبة بمراجع جيدة وكذلك تجهيز صالة الالعاب الرياضية بمستوي يليق
                بطلاب معهد السويس.</p>
            <p class="mt-3">
                نجاحكم وحفاظكم علي النظام التعليمي وانتظام الدراسة واحترام بعضكم البعض واحترام القواعد العامة
                والعاملين بالمعهد هو المطلوب لرفعة المعهد ووضع خريجين المعهد في الصفوف الأولي لجهات العمل الخارجية.
                بالتوفيق للجميع وحفظ الله الجميع من كل سوء.

            </p>
            <p> أ.د/ <span class="ar_ar text-danger">وليد عبدالكريم</span>
                عميد معهد السويس.</p>
        </div>
        <div class="col-md-6 animate__animated  animate__backInDown">
            <img class="img-fluid  rounded-3"
                src="{% static 'main/' %}img/backgrounds/WhatsApp-Image-2021-12-05-at-7.34.29-PM-1370x550.jpeg" alt="">
            <span class="text-danger">عميد المعهد</span>
            <h5 class="mt-2">
                أ.د/ وليد عبد الكريم
            </h5>
        </div>
    </div>
</div>


{% endblock content %}